<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kingstar.mapper.ClbumMapper">

    <select id="getClbumList" parameterType="com.kingstar.bean.Page" resultType="com.kingstar.bean.Student">
        select * from clbum where deleted=0 order by create_time desc limit #{startIndex},#{pageSize}
    </select>

    <select id="getClbumCount" resultType="_int">
        select count(*) from clbum where deleted=0
    </select>

    <select id="getClbumById" parameterType="java.lang.Integer" resultType="com.kingstar.bean.Clbum">
        select * from clbum where id=#{id} and deleted=0
    </select>

    <insert id="addClbum" parameterType="com.kingstar.bean.Clbum">
        INSERT INTO clbum (name,number,create_time,update_time,deleted) VALUES (#{name},#{number},now(),now(),0)
    </insert>

    <update id="updateClbum" parameterType="com.kingstar.bean.Clbum">
        UPDATE clbum SET name=#{name},number=#{number},update_time=now() WHERE id=#{id}
    </update>

    <update id="removeClbum" parameterType="java.lang.Integer">
        UPDATE clbum SET deleted=1,update_time=now() WHERE id=#{id}
    </update>

    <delete id="deletedClbum" parameterType="java.lang.Integer">
            DELETE FROM clbum WHERE id=#{id}
        </delete>
</mapper>
